* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

:root {
    --main_bg: #F4F1DE;
    --mainred: #E07A5F;
    --maingreen: #81B29A;
    --mainblue: #5A6193;
    --mainnavy: #3D405B;
    --mainyellow: #F2CC8F;

    --border_rad: 40px 0 40px 0;

    --largetextmob: 2.8rem;
    --navtextmob: 2.25rem;
    --medtextmob: 1.5rem;
    --smalltextmob: 1.4rem;

    --margintgr: 7.5vw 0 2.5vw 0;
    --marginapt: 10vw 0;
}

@font-face {
    font-family: OswaldBold;
    src: url(fonts/Oswald-VariableFont_wght.ttf);
    font-weight: 500;
  }
  @font-face {
    font-family: Oswald;
    src: url(fonts/Oswald-VariableFont_wght.ttf);
    font-weight: 300;
  }

  @font-face {
    font-family: SemiBoldSSP;
    src: url(fonts/SourceSansPro-SemiBold.ttf);
  }

  @font-face {
    font-family: BoldSSP;
    src: url(fonts/SourceSansPro-Bold.ttf);
  }
  @font-face {
    font-family: ItalicSSP;
    src: url(fonts/SourceSansPro-Italic.ttf);
  }

  @font-face {
    font-family: RegSSP;
    src: url(fonts/SourceSansPro-Regular.ttf);
  }
/* Background Color */
body {
    background-color: var(--main_bg);
    margin: 0;
}
section {
    /* position: static; */
    padding: 0 5%;
    margin: var(--margintgr);
}

/* Shapes */
.square {
    min-height: 20vw;
    min-width: 20vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: var(--border_rad);
    margin: 0 2.5vw;
    padding: 1rem;
}

.itemsquare {
    position: relative;
    display: inline-block;
    max-width: 400px;
    width: 80%;
    border-radius: var(--border_rad);
    padding: 1.5rem;
    margin: 0 0 5vw;
}

.borderoppo {
    border-radius: 0 40px 0 40px;
}

/* Colors */

.blue {
    background-color: var(--mainblue);
}
.red {
    background-color: var(--mainred);
}
.green {
    background-color: var(--maingreen);
}
.yellow {
    background-color: var(--mainyellow);
}
.whitetext {
    color: white;
}
/* Fonts */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "OswaldBold";
    font-size: var(--largetextmob);
    color: var(--mainnavy);
    text-align: center;
    margin: var(--margintgr);
}
h2 {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "SemiBoldSSP";
    font-size: var(--medtextmob);
    border-radius: var(--border_rad);
    padding: 10px 20px;
    margin: 0 0 5vw;
}
h3 {
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "ItalicSSP";
    font-size: var(--medtextmob);
    margin: 0;
}
h4 {
    /* button */
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "RegSSP";
    font-size: var(--smalltextmob);
    color: white;
    margin: 10px 0;
    
}
h5 {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "OswaldBold";
    font-size: 1.2rem;
    color: black;
    padding: .5rem 1rem 0;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "RegSSP";
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 0 0 5vw;
}
/* Flexbox */
.wrapper {
    display: flex;
    width:100%;
    justify-content: space-around;
}

.vertflex {
    flex-direction: column;
}

.button {
    width:fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    background-color: var(--mainnavy);
    padding: 5px 20px;
    border-radius: 50px;
}

.right {
    float:right;
    left: 20%;

}
/* Images */
.heroimg {
    max-width: 100%;
    min-width: 35vw;
}
.coverimg {
    display: block;
    max-width: 90%;
    margin: 15% auto;
}
.arrow {
    margin: 0 auto;
    height: 2rem;
}
.ribbon {
    z-index: 10;
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--main_bg);
    border-radius: 0 0 50px 50px ;
    top: 0;
    right: 0;
}
.itemheading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "BoldSSP";
    font-weight: bold;
    font-size: var(--medtextmob);
}


.itemtrait {
    background-color: var(--main_bg);
    padding: 1rem 1rem 1rem 3rem;
    float: inline-end;
    border-radius: 0 50px 50px 0;
    margin-left: -1.5rem;

}

/* nav menu */

#toggleopen {
    position: relative;
    top: 0;
    left: 0;
}
nav {
    background-color: var(--mainnavy);
    position: relative;
    width: 100vw;
    padding: 0 0 5% 0;
    display: none;
}
.invisible {
    display: none;
}

.visible {
    display: block;
    animation: fadein .25s ease-in-out 0s normal;
}

@keyframes fadein {
    from {
        transform: translateY(-50%);
        opacity: 0%;
    }
    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.icon {
 padding: 5% 0 0 5%;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    text-align: center;
    margin: 5%;
}
a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "Oswald";
    font-size: var(--navtextmob);    
}